*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
bin
conda-meta
doc
etc
include
lib
libexec
man
mkspecs
phrasebooks
plugins
python.app
qml
resources
share
ssl
translations
org.freedesktop.dbus-session.plist